BODY {-moz-user-select:none;}
@media print{BODY{display:none;}}
.titlestyle204159{ font-size: 9pt; font-family: å®‹ä½“; text-decoration: none ;}
A.c204159 {
font-size: 9pt; font-family: å®‹ä½“; text-decoration: none 
;}
A.c204159:link {
color:;}
A.c204159:visited {
color:;}
A.c204159:active {
color: ;}
A.c204159:hover {
color: ;}
.tply{ height:321px;overflow:hidden;}
.tply li{float:left; width:217px; display:block; height:321px; margin:0 5px; overflow:hidden; padding-top:15px;}
.tply li img{ padding:2px; border:1px solid #ddd; width:211px; height:300px;}
